.textField {
  margin: 1rem;
  width: 400px;
  max-width: 90%;
}

.checkbox {
  margin: 0.3rem 1rem;
}

.switch {
  margin: 1.5rem 1rem;
}

.largeTextField {
  margin: 1rem;
  width: calc(800px + 2rem);
}

.tinyEditor {
  margin: 1rem;
}

.button {
  margin: 1rem;
}

.color {
  margin: 1rem;
}

.label {
  font-weight: bold;
}

.deadline {
  margin: 2rem 1rem;
}

.deadlineLabel {
  margin-bottom: 0.5rem;
}

.picker {
  margin: 1rem 0;
}

.hr {
  margin: 1rem;
}

@media (max-width: 800px) {
  .root {
    max-width: 95vw;
  }

  .tinyEditor {
    max-width: 95%;
  }

  .largeTextField {
    max-width: 90%;
  }
}

.tiny {
  padding: 1rem;
}

.containedButton {
  margin: 1rem 0;
}

.idTitle {
  margin: 1rem 0;
}

.tinyTitle {
  margin-top: 1rem ;
}