
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}

.successSnackbar {
  background-color: #10ac84 !important;
  color: white;
}

.sanitized-html iframe {
  max-width: 100%;
}

.sanitized-html img {
  max-width: 90vw;
  max-height: 600px;
}

.tox-statusbar__branding {
  display: none;
}

.tox {
  border-radius: 5px;
}

.html-content {
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
}

.html-content a {
  color: #096baa;
}

.html-content a:hover {
  text-decoration: underline;
}

.html-content img {
  max-width: 80vw;
  object-fit: contain;
}