.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mediumContentContainer {
  width: 600px;
  max-width: 90vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.vector {
  width: 300px;
  max-width: 90vw;
  margin-bottom: 4rem;
}

.center {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 1rem;
}
