.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mediumContentContainer {
  width: 600px;
  max-width: 90vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.vector {
  width: 300px;
  max-width: 90vw;
  margin-bottom: 4rem;
}

.center {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 1rem;
}

.logoutButton {
  margin: 1rem;
}

.iframe {
  width: 100%;
  height: 80vh;
  border: 1px solid rgba(0, 0,0, 0.1);
  border-radius: 5px;
  box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.1);
}

.page {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.hr {
  border: 0;
  height: 3px;
  width: 100px;
  margin-bottom: 1rem;
}

.idContainer {
  margin :1.5rem;
}

.iframeContainer {
  margin-top: 20px;
}

.html {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.steps li {
  overflow-wrap: break-word;
  margin-bottom: 20px;
  font-size: 14px;
}

.longText {
  overflow-wrap: break-word;
  font-weight: bolder;
}

.idCodeBox {
  color: #27ae60;
  background: rgba(0,0,0,0.05);
  box-shadow: rgba(0, 0, 0, 0.18) 3px 2px 2px 0;
  border-radius: 5px;
  padding: 5px;
}